<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb1GAmo3OGW4oeg_Y4YoaKw9LZkfsmsXA</string>
	<key>GCM_SENDER_ID</key>
	<string>606159615914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.buttons</string>
	<key>PROJECT_ID</key>
	<string>buttons-7fdc9</string>
	<key>STORAGE_BUCKET</key>
	<string>buttons-7fdc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606159615914:ios:7820121229fb8c1e1d9dd3</string>
</dict>
</plist>